.parent
{
    background-color:bisque;    
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;

}
.child{
    background-color:bisque; 
    min-height: 500px;
    width: 500px;
    border: black;
}
.child-1{

}

.child-2{
    grid-row: span 2;
}
